 #grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 15% auto 30%;
    grid-template-rows: 10% 20% 1fr 1fr 1fr 15%;
    background-color: #3498db;
    grid-template-areas:  
    "nav nav nav"
    "hd hd hd" 
    "sc1 mn as1"
    "sc2 mn as1"
    "sc3 mn as2"
    "ft ft ft";
    
 }

 nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.nav-links a {
    margin-left: 2rem;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

header {
    grid-area: hd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin: 0;
}

header p {
    font-size: 1.5rem;
    margin: 0.5rem; 
}

main {
    grid-area: mn;
}

#as1 {
    grid-area: as1;
}

#as2 {
    grid-area: as2;
}

#sc1 { 
    grid-area: sc1; 
}

#sc2 { 
    grid-area: sc2; 
}

#sc3 {
    grid-area: sc3; 
}

footer {
    grid-area: ft;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

.social-links img {
    width: 65px;  
    transition: transform 0.3s, filter 0.3s;
    border-radius: 50%;
}

.social-links img:hover {
    transform: scale(1.2);
}



nav, header, main, section, aside, footer {
    color: white;
}