 #grid {
    display: grid;
    height: 125vh;
    grid-template-columns: 15% auto 30%;
    grid-template-rows: 8% 15% 1fr 1fr 12%;
    background-color: #3498db;
    background: linear-gradient(to bottom, #3498db, #4963d7 );
    grid-template-areas:  
    "nav nav nav"
    "hd hd hd" 
    "mn mn as1"
    "mn mn as2"
    "ft ft ft"; 

 }

 nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-size: 1.5rem;
}

.nav-links a {
    margin-left: 2rem;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;

}

header {
    grid-area: hd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin: 0;
}

header p {
    font-size: 1.5rem;
    margin: 0.5rem; 
}

main {
    grid-area: mn;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center; 
    position: relative;
    padding: 2rem;
    font-size: 1.8rem;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden; 
    border-radius: 20px;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/onur-binay-z3MP5DDiEME-unsplash.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(6px);  
    transform: scale(1.1);
    z-index: 0;
}

main h2, main p {
    position: relative;
    z-index: 1;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}



#as1 {
    grid-area: as1;
    background-image: url(../img/anthony-roberts-fMbiAi0rbkA-unsplash.jpg); 
    background-size: cover;                  
    background-position: center;              
    background-repeat: no-repeat; 
    border-radius: 20px;
}

#as2 {
    grid-area: as2;
    background-image: url(../img/thomas-foster-vWgoeEYdtIY-unsplash.jpg);  
    background-size: cover;                   
    background-position: center;              
    background-repeat: no-repeat; 
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}


footer {
    grid-area: ft;
    text-align: center;
    & h2 {
        margin:0px 
    }
    margin-top: 5px;
    
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 5px;
}

.social-links img {
    width: 65px;  
    transition: transform 0.3s, filter 0.3s;
    border-radius: 50%; 
    
}

.social-links img:hover {
    transform: scale(1.2);
}

nav, header, main, aside, footer {
    color: white;
}
 

/* Tillfällig font */
body {
  font-family:'Franklin Gothic Medium', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}